.blog-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 50px 0 50px;

  .page-title {
    margin-bottom: 30px;
    align-self: flex-start;
  }

  .blog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;

    @media (max-width: 1290px) {
      flex-direction: column;
    }
  }
}
