@import "../../styles/theme";
@import "../../styles/media-queries.scss";

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;
  background-color: $primary-darker;
  min-height: 100vh;
  position: relative;

  .page-title {
    margin-bottom: 30px;
    align-self: flex-start;
  }

  .blog-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    max-width: 1140px;

    @include laptopL {
      max-width: 920px;
    }
    @include laptopM {
      max-width: 560px;
    }

    @include laptop {
      max-width: 450px;
    }

    @include mobileL {
      max-width: 300px;
    }
  }

  .blog-card:last-child {
    margin-right: auto;
  }
}
