@import "../../styles/theme";
@import "../../styles/_base";

.loader {
  border: 5px solid $primary;
  border-top: 5px solid #18a0fb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  inset: 0;
  margin: auto;
}

@include spin;
