.navigation-container {
    width: 200px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.logo-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 40px;
    z-index: 3;
}
.logo-text {
    font-size: 22px;
    font-weight: 800;
    margin-left: 10px;
}

.main {
    width: 100%;
    padding-top: 100px;
}

.nav-item-holder {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
}

.nav-item {
    cursor: pointer;
    display: flex;
    padding-left: 18px;
    align-items: center;
    background-color: #F6F6F6;
    height: 50px;
    width: 164px;
    border-radius: 28px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    z-index: 2;
}

.nav-register {
    background-color: #18A0FB;
}

.nav-item:hover {
    transform: translate(10px);
}

.nav-item-selected {
    cursor: not-allowed;
    position: relative;
    display: flex;
    padding-left: 18px;
    align-items: center;
    background-color: #F6F6F6;
    height: 50px;
    width: 164px;
    border-radius: 28px 0 0 28px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
}
.nav-item-text {
    font-size: 18px;
    margin-left: 18px;
    font-weight: 500;
    color: #000000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
.nav-register-text {
    color: #ffffff;
}

.nav-item-text-selected {
    font-size: 18px;
    margin-left: 18px;
    font-weight: 500;
    color: #18A0FB;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}


.nav-item-selected-connector {
    height: 100px;
    width: 25px;
    background-color: #F6F6F6;
    position: absolute;
    top: -25px;
}

.nav-item-selected-connector:before {
    content: '';
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    position: absolute;
    top: -25px;
    right: 0;
    border-radius: 28px;
}
.nav-item-selected-connector:after {
    content: '';
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: -25px;
    right: 0;
    border-radius: 28px;
}

.user-holder {
    width: 100%;
    margin-bottom: 28px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
}

.user-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    height: 50px;
    width: 164px;
    margin-left: 18px;
    margin-right: 18px;
    z-index: 2;
}
.user-item:hover{
    transform: translate(10px);
}
.user-item-selected {
    cursor: not-allowed;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    background-color: #F6F6F6;
    height: 50px;
    width: 164px;
    border-radius: 50px 0 0 50px;
    margin-left: 18px;
    margin-right: 18px;
    z-index: -1;
}

.image-holder{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
.user-image {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: -25%;
}
.user-name {
    font-size: 15px;
    font-weight: 600;
    margin-left: 8px;
}
