.navigation-container {
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  display: flex;
  flex-direction: column;

  .logo-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 40px;
    z-index: 3;

    .logo-text {
      font-size: 22px;
      margin-left: 10px;
    }
  }

  .main {
    width: 100%;
    padding-top: 100px;

    .nav-item-holder {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      position: relative;

      .nav-item {
        &:hover {
          transform: translate(10px);
        }

        cursor: pointer;
        display: flex;
        padding-left: 18px;
        align-items: center;
        background-color: #f6f6f6;
        height: 50px;
        width: 164px;
        border-radius: 28px;
        margin: 0 18px 18px 18px;
        z-index: 2;
        text-decoration: none;
        transition: 0.2s;

        .nav-item-text {
          font-size: 18px;
          margin-left: 18px;
          font-weight: 500;
          color: #000000;
          user-select: none;
          text-decoration: none;
        }

        .nav-item-text-selected {
          color: #18a0fb;
        }

        .nav-register-text {
          color: #ffffff;
        }
      }

      .nav-item-selected:hover {
        transform: none;
      }

      .nav-register {
        background-color: #18a0fb;
      }
    }
  }

  .user-holder {
    width: 100%;
    margin-bottom: 28px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;

    .user-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 28px;
      height: 50px;
      width: 164px;
      margin-left: 18px;
      margin-right: 18px;
      z-index: 2;

      &:hover {
        transform: translate(10px);
      }
    }

    .user-item-selected {
      cursor: not-allowed;
      display: flex;
      align-items: center;
      margin-bottom: 28px;
      background-color: #f6f6f6;
      height: 50px;
      width: 164px;
      border-radius: 50px 0 0 50px;
      margin-left: 18px;
      margin-right: 18px;
      z-index: -1;
    }

    .image-holder {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      overflow: hidden;
      position: relative;

      .user-image {
        width: 50px;
        height: auto;
        position: absolute;
        bottom: -25%;
      }
    }

    .user-name {
      font-size: 15px;
      font-weight: 600;
      margin-left: 8px;
    }
  }

  .nav-item-selected-connector {
    &:before {
      content: "";
      height: 50px;
      width: 50px;
      background-color: #ffffff;
      position: absolute;
      top: -25px;
      right: 0;
      border-radius: 28px;
    }

    &:after {
      content: "";
      height: 50px;
      width: 50px;
      background-color: #ffffff;
      position: absolute;
      bottom: -25px;
      right: 0;
      border-radius: 28px;
    }
  }
}
