@import "../../../styles/theme";
@import "../../../styles/media-queries.scss";

.user-panel {
  width: 300px;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 15px 32px 15px;
  box-sizing: border-box;

  @include laptop {
    display: none;
  }

  &-picture-wrapper {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    padding: 7px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #ffffff;
    border: 3px solid $secondary;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:hover .user-panel-picture {
      filter: contrast(100%);
    }

    &:hover .profile-upload-btn {
      opacity: 1;
    }

    .user-panel-picture {
      border-radius: 50%;
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      transition: filter 0.5s ease-in-out;

      &:hover {
        filter: contrast(50%);
      }
    }

    .profile-upload-btn {
      opacity: 0;
      position: absolute;
      inset: 0;
      margin: auto;
      transition: all 0.5s ease-in-out;
    }
  }

  .full-name {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 5px;
  }

  .email {
    font-size: 18px;
    margin-bottom: 100px;
  }

  .change-btn {
    width: 200px;
    height: 35px;
    background: $primary;
    color: #000000;
  }

  .exit-btn {
    width: 80px;
    height: 35px;
    background: $primary;
    color: #000000;
    align-self: flex-end;
    margin-top: auto;
  }
}
