@import "../../styles/theme";
@import "../../styles/_base";
@import "../../styles/media-queries.scss";

.wrapper-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.blog-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: white;
  line-height: 1.5rem;

  .sidepanel {
    width: 20%;
    height: 100vh;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    &-title {
      align-self: flex-start;
      margin-bottom: 10px;
    }

    @include desktop {
      display: none;
    }
  }

  .blog {
    width: 80%;
    border-radius: 0px 50px 50px 0px;
    background-color: $primary-darker;
    overflow: auto;
    font-family: "Roboto", "sans-serif";
    scrollbar-width: none;
    padding: 55px 70px;

    &:-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    @include desktop {
      width: 100%;
    }

    @include tablet {
      border-radius: 0px;
    }
    @include tabletS {
      padding: 55px 50px;
    }

    &-header {
      display: flex;

      @include laptop {
        flex-direction: column;
        border-bottom: 1px solid $secondary;
      }

      &-image {
        width: 250px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 30px;
        align-self: center;

        @include laptop {
          width: 100%;
          height: auto;
          margin-bottom: 40px;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // height: 250px;
        margin-left: 20px;

        @include laptop {
          margin-left: 0px;
        }

        &-title {
          font-size: 1.3rem;
          font-weight: bold;
          margin-bottom: 20px;
        }

        &-description {
          font-size: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          color: rgb(82, 82, 82);
          margin-bottom: 15px;
        }

        &-views {
          display: flex;
          justify-content: center;
          align-items: center;
          &-eye {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-text {
        font-size: 1rem;
        margin-top: 40px;
        text-align: justify;
      }

      &-image {
        width: 100%;
        margin-top: 40px;
        align-self: center;
      }
    }

    &-author {
      margin-top: 40px;
    }
  }
}
