@import "../../styles/theme";
@import "../../styles/media-queries.scss";

.message {
  color: #ffffff;
  width: 100%;
  padding: 5px;
  text-align: center;
  &-text {
    font-size: 0.9rem;
  }

  @include mobileL {
    padding: 5px;
  }
}

.success {
  background-color: $success-color;
}

.error {
  background-color: $error-color;
}
