@import "../../styles/theme";

.page-title {
  .line {
    width: 2.8rem;
    height: 0.7rem;
    border-radius: 23px;
    background-color: $secondary;
    margin-bottom: 4px;
  }

  .title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 41px;
  }
}
