@import "../../../styles/theme";

.delete-field-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 50px;
  height: 66px;
}
