@import "../../../styles/theme";

.image-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    img{
        max-width: 70%;
        height: auto;
    }

    &-label{
        margin-bottom: 15px;
    }

    &-input {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        align-self: flex-start;
    }
}