$mobile-width: 480px;
$tablet-width: 768px;
$tabletL-width: 992px;
$desktop-width: 1200px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tabletL {
  @media (min-width: #{$tabletL-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

$radius: 3px;

@mixin rounded {
  border-radius: $radius;
}
