$primary: #f6f6f6;
$primary-darker: #e6e6e6;
$secondary: #18a0fb;
$title-color: #4f4f4f;
$error-color: #f86f6f;
$success-color: #8fcb88;

@mixin colorPrimary {
  color: $primary;
}

@mixin siteFont {
  font-family: "Montserrat", sans-serif;
}
