@import "../../styles/theme";

.field-wrapper {
  width: 500px;
  height: 45px;
  position: relative;

  .field-label {
    color: $title-color;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.2s ease-in-out;
    font-size: 15px;
    text-transform: capitalize;
  }

  .focused-field {
    color: black;
    top: -13%;
    font-size: 17px;
  }

  .field {
    background-color: $primary;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 2px solid $secondary;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  .field-icon-wrapper {
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;

    &:hover {
      background-color: white;
    }
  }
}
