@import "../../styles/media-queries.scss";
@import "../../styles/theme";

.header-wrapper {
  display: none;
  background-color: $primary-darker;

  @include laptop {
    display: block;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $primary;
    height: 50px;
    padding: 10px 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .button-space {
      width: 40px;
      height: 40px;
    }

    .burger-button {
      width: 33px;
      height: 33px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: none;
      padding: 0;
      cursor: pointer;

      div {
        width: 100%;
        height: 5px;
        background-color: #000000;
        border-radius: 6px;
        transition: all 0.3s;
      }

      &.active {
        div:nth-child(1) {
          transform: rotate(45deg) translate(7px, 11px);
        }
        div:nth-child(2) {
          opacity: 0;
        }
        div:nth-child(3) {
          transform: rotate(-45deg) translate(9px, -13px);
        }
      }
    }
  }
}
