@import "../../styles/theme";

b {
  font-weight: bolder;
}
.create-container {
  margin-left: 200px;
  padding: 40px 100px 100px 100px;
  background-color: $primary;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 80%;
      &-text {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &-input {
        background-color: #fff;
        border: none;
        border-left: 5px solid $secondary;
        min-height: 40px;
        font-size: 22px;
        font-weight: bold;
        padding-left: 30px;
      }
    }

    .back {
      &-btn {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 30px;
        border: 3px solid $secondary;
        border-radius: 28px;
        cursor: pointer;
        &-text {
          font-size: 18px;
          font-family: Montserrat-SemiBold, sans-serif;
          font-weight: 500;
          color: $secondary;
          margin-left: 20px;
          user-select: none;
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      &-post {
        background-color: $secondary;
        display: flex;
        align-items: center;
        padding: 15px 30px;
        border-radius: 28px;
        margin-bottom: 20px;

        &-text {
          font-size: 18px;
          font-family: Montserrat-SemiBold, sans-serif;
          font-weight: 500;
          color: #ffffff;
          margin-right: 20px;
          line-height: 22px;
        }
      }
      &-details {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        border: 3px solid $secondary;
        border-radius: 28px;
        cursor: pointer;

        &-text {
          font-size: 18px;
          font-family: Montserrat-SemiBold, sans-serif;
          font-weight: 500;
          color: $secondary;
          user-select: none;
        }
      }
    }
  }

  .content {
    width: 100%;

    .tools {
      background-color: #000000;
      border-radius: 15px;
      // padding: 5px;
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      z-index: 3;

      &:before {
        content: "";
        border: 10px solid rgba(0, 0, 0, 0);
        border-top: 10px solid black;
        position: absolute;
        bottom: -20px;
      }
      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        &:hover {
          background-color: #1a1a1a;
        }
        &-text {
          font-size: 30px;
          font-weight: bold;
          color: #ffffff;
          user-select: none;
        }
      }
    }

    .editables {
      width: 80%;
      margin-top: 20px;
      &-item {
        position: relative;
        width: 100%;
        border-left: 5px solid $secondary;
        margin-bottom: 50px;

        &-browse {
          position: absolute;
          left: 10px;
          bottom: -50px;
        }

        &-text {
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.015em;
          padding: 20px 30px;
        }
        &-pic {
          width: auto;
          height: 500px;
        }
        &-cross {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0px;
          left: -45px;
          border-radius: 30px;
        }

        .delete {
          padding: 10px;
          background-color: tomato;
          border-radius: 15px;
          max-width: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          left: 20px;
          top: -100px;
          &-title {
            font-size: 18px;
            font-weight: bold;
            color: white;
            margin-bottom: 10px;
          }
          &-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            &-btn {
              border: none;
              border-radius: 5px;
              background-color: $primary;
              font-size: 18px;
              padding: 5px;
              width: 45%;
            }
          }
          &:after {
            content: "";
            position: absolute;
            bottom: -30px;
            border: 20px solid rgba(0, 0, 0, 0);
            border-top: 15px solid tomato;
          }
        }
        &-add {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: -60px;
          left: -60px;
          border-radius: 50px;
          &:hover {
            transform: scale(1.05);
          }
        }

        .modal {
          position: relative;

          &-btn {
            background-color: #000000;
            border-radius: 15px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: -65px;
            left: 10px;

            &:before {
              content: "";
              border: 10px solid rgba(0, 0, 0, 0);
              border-right: 10px solid black;
              position: absolute;
              left: -20px;
            }

            &-field {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #000000;
              padding: 5px;
              border-radius: 4px;
              margin-right: 10px;

              &:hover {
                background-color: #1a1a1a;
              }
            }
            &-image {
              display: flex;
              justify-content: center;
              align-self: center;
              background-color: #000000;
              padding: 5px;
              border-radius: 4px;

              &:hover {
                background-color: #1a1a1a;
              }
            }
          }
        }
      }
    }
    .details {
      width: 80%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .details-one {
        display: flex;
        flex-direction: column;
      }
      .details-two {
        display: flex;
        flex-direction: column;
        &-item {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
        }
      }
    }
  }
}
