@import "../../styles/theme";

.upload-widget-button {
  background-color: $secondary;
  margin-bottom: 30px;
  height: 40px;
  width: 120px;
  padding: 2px 10px;
  font-size: 12px;
}

.image {
  width: 100%;
  margin-bottom: 30px;
}
