@import "../../../styles/media-queries.scss";

.card-author {
  display: flex;
  align-items: center;
  justify-self: end;
  height: 30px;
  max-width: 100px;

  @include tabletS {
    height: 25px;
  }

  .author-image {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
  }

  .author-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .author-name {
      font-size: 0.7rem;
      line-height: 1rem;
    }

    .date {
      font-size: 0.6rem;
      line-height: 1rem;
    }
  }
}
