@import "../../styles/theme";
@import "../../styles/base";
@import "../../styles/media-queries.scss";

.user-page-wrapper {
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

  .user-page {
    width: 100%;
    background-color: $primary-darker;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 0 50px 50px 0;
    overflow: scroll;
    scrollbar-width: none;

    @include laptop {
      border-radius: 0;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .picture-wrapper {
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background: #ffffff;
        border: 2px solid $secondary;
        cursor: pointer;
        overflow: hidden;

        @include laptop {
          display: block;
        }

        &:hover .user-picture {
          filter: contrast(100%);
        }

        .user-picture {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          filter: contrast(80%);
          transition: filter 1s;
        }
      }
    }

    &-blog-list {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      &-item {
        max-width: 700px;
        margin: 0;
      }
    }
  }
}
