@import "../../../styles/theme";
@import "../../../styles//media-queries.scss";

.sidepanel {
  width: 300px;
  padding: 10px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &-title {
    align-self: flex-start;
    margin-bottom: 10px;
  }

  @include laptopL {
    display: none;
  }
}
