@import "../../styles/theme";

.modalwindow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    background-color: $primary-darker;
    padding: 20px;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $secondary;
  }

  &-button {
    margin: 0;
  }
  &-input {
    margin: 0;
  }
}
