@import "./styles/theme";
@import "./styles/base";

#root,
body,
html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  height: 100%;
}

.App {
  height: 100%;
  .app-container {
    min-height: 100%;
    padding-left: 200px;
    background-color: $primary;
    @include tablet {
      padding-left: 0;
    }
  }
}
