.App {
}
.main-layout {
    margin-left: 200px;
    width: 100vw - 200px;
    /* height: 100vh; */
    background-color: #F6F6F6;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat-SemiBold'), url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}
