@import "./styles/theme";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  .App {
    height: 100%;
    .app-container {
      height: 100%;
      padding-left: 200px;
      background-color: $primary;
    }
  }
}
