@use "src/styles/theme";
@use "src/styles/mediaqueries";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  .App {
    height: 100%;
    .app-container {
      padding-left: 200px;

      @include mediaqueries.tabletL {
        padding-left: 0;
      }
      background-color: theme.$primary;
    }
  }
}
