@import "../../styles/base";
@import "../../styles/media-queries.scss";

.blogcard {
  width: 560px;
  height: 260px;
  padding: 0.6rem;

  display: flex;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include laptopL {
    width: 450px;
    height: 200px;
  }

  @include laptopM {
    width: 560px;
    height: 260px;
  }

  @include laptop {
    width: 450px;
    height: 200px;
  }

  @include tabletS {
    flex-direction: column;
    width: 350px;
    height: auto;
  }

  @include mobileL {
    width: 300px;
  }

  @include mobileS {
    width: 250px;
  }

  &-mini {
    color: white;
    position: relative;
    padding: 10px;
    width: 200px;
    height: 120px;
    margin-bottom: 15px;
    flex-shrink: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 30px;
    }
  }

  &:hover &-image {
    filter: contrast(100%);
  }

  &-image {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30px;
    filter: contrast(80%);
    transition: 300ms;

    &-mini {
      display: none;
    }
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0rem 0.4rem 1.2rem;
    justify-content: space-between;
    position: relative;

    @include tabletS {
      padding: 0.4rem;
      padding-top: 1rem;
    }

    &-mini {
      padding: 5px;
    }

    &-title {
      max-height: 2rem;
      font-weight: 600;
      font-size: 0.8rem;
      margin-bottom: 0.8rem;
      position: relative;
      text-wrap: wrap;

      &-mini {
        font-size: 0.65rem;
        height: 30px;
      }
    }

    &-description {
      max-width: 150ch;
      max-height: 5rem;
      font-size: 0.6rem;
      line-height: 0.8rem;
      position: relative;
      flex-grow: 1;
      text-wrap: wrap;
      text-justify: inter-word;
      overflow: hidden;
      margin-bottom: 0.8rem;
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;

      @include tabletS {
        padding-right: 5px;
      }

      &-views {
        display: flex;
        align-items: center;
        font-size: 0.6rem;
        &-icon {
          width: 15px;
          height: 15px;
          margin-right: 0.2rem;

          @include tabletS {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}
