@import "../../styles/theme";
@import "../../styles/media-queries.scss";
@import "../../styles/_base";

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $secondary;
  width: 150px;
  height: 50px;
  padding: 0;
  color: white;
  border-radius: 28px;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s all;

  @include laptop {
    width: 120px;
    height: 40px;
  }

  @include tablet {
    width: 80px;
    height: 30px;
  }

  &:focus {
    outline: none;
  }
  &:hover {
    // background-color: rgba($secondary, 0.5);
    filter: brightness(70%);
  }

  &-loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $secondary;
    border-top: 2px solid white;
    animation: spin 2s linear infinite;
    @include spin;
  }
}
